*{
  margin:0;
  padding:0;
  border:0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;;
  text-decoration: inherit;
  line-height: inherit;
  color: inherit;
}
html, body{
  font-family: "Helvetica Neue", Helvetica,
  sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444;
  text-shadow: 1px 1px 0px #fff;
}
body{
  text-align: center;
  overflow-x:hidden;
}
h1{
  font-size: 36px;
  line-height: 50px;
  font-weight: bold;
}
p sub{
  color: #aaa;
  vertical-align: baseline;
}
p sub:before{
  content: "[";
}
p sub:after{
  content: "]"
}
h2{
  font-size: 24px;
  line-height: 40px;
  font-weight: bold;
}
a{
  color: #58b;
}
a:hover{
  color: #369;
}
img{
  border-radius: 50%;
}

section{
  border-top: 2px dashed #eee;
  padding: 50px 10px;
  max-width: 800px;
  margin: 0 auto;
}
section:target h1{
  animation: flash 1s;
}
@keyframes flash {
  from{
    text-shadow: 5px 5px 0px #D6EAF8
  }
  to{
    text-shadow: 0px 0px 0px;
  }
}

address{
  white-space: pre-line;
  margin-top: 0px;
}
.hero{

  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
  padding: 0;
}
.hero img{
  width: 100%;
  height: 100%;
}
.headshot{
  margin-left: auto;
  margin-right: auto;
  transition: transform 1s;
}
.headshot:hover{
  transform: rotate(360deg);
}

.list li{
  display: inline;
  font-weight: bold;
}
.list li:not(:last-child):after{
  content: ", ";
}

.blocklist > li{
  display: flex;
  justify-content: center;
  border-style: solid;
  border-width: 15px;
  border-color:#fff #eee;
}
.blocklist > li > div{
  flex-grow: 1;
  align-self: center;
}
.blocklist > li > img{
  margin:0 0px;
}
.blocklist > li:nth-child(odd){
  flex-direction: row;
  text-align: left;
}
.blocklist > li:nth-child(even){
  flex-direction: row-row-reverse;
  text-align: right;
}
@media (max-width: 500px) {
  .blocklist > li{
    display: block;
    text-align: center !important;
    border-width: 0;
    margin:50px 0;
  }
}
.prose{
  text-align: justify;
  max-width: 500px;
  margin: 0 auto;
}
.prose p{
  margin: 20px auto;
}
/*style nav bar*/
.navbar{
  width: 100%;
  background-color: #111;
  overflow: auto;
  display: flex;
  position: fixed;
  z-index: 9999;
}
/*navbar links*/
.navbar a{
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  text-shadow: 1px 1px 0px #707B7C;
  background-color: #8E44AD;
}
/*navbar links on hover*/
.navbar a:hover{
  background-color: #000;
}

/*add responsiveness - will auto display the navbar verticall instead of
horizontally on screens less than 500 pixels*/
@media screen and (max-width: 500px) {
  .navbar a{
    float: none;
    display: block;
  }
}
/*add responsive side bar*/
.sidebar{
  height:100%;
  width:80px;
  position: fixed;
  z-index: 1;
  top:0;
  left: 0;
  background-color: #111;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  white-space: nowrap;
}
.sidebar a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  display:block;
}
.sidebar a:hover{
  color: #f1f1f1;
}
.sidebar p{
  font-size: 16px;
  text-align: justify;
  max-width: 500px;
  margin: 0 auto;
  text-shadow: 0px 0px 0px #707B7C;

}
main .sidebar{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.material-icons,
.icon-text{
  vertical-align: middle;
}
.material-icons{
  margin-right:30px;
  padding-bottom: 3px;
}
#main{
  transition: margin-left 0.5s;
  padding: 16px;
  margin-left: 85px;
}
@media screen and (max-height:450px) {
  .sidebar{
    padding-top: 15px;
  }
  .sidebar a{
    font-size: 18px;
  }
}
